*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.mainWrapper .banner {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainWrapper .banner img {
  height: 90px;
}
.mainWrapper .banner h1 {
  padding: 2rem;
  font-size: 40px;
  color: #fff;
  color: #00a19a;
}
.mainWrapper .banner .back-link {
  display: inline-block;
  text-transform: uppercase;
  background: #02bbb2;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 28px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 0;
  line-height: 1.6;
  margin: 10px 0px;
  text-decoration: none;
}
.mainWrapper .banner .back-link:hover {
  background: #f7a000;
  cursor: pointer;
}
.mainWrapper #gameMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  margin-top: 50px;
  position: relative;
}
.mainWrapper #gameMain .pickerPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  position: sticky;
  top: 0px;
  padding-top: 40px;
  z-index: 4;
  background-color: white;
}
.mainWrapper #gameMain .pickerPanel #picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 2px solid #333;
  padding: 10px;
  height: 400px;
}
.mainWrapper #gameMain .pickerPanel #picker .sectionSelector {
  margin: 10px;
  font-size: 16px;
  padding: 5px;
}
.mainWrapper #gameMain .pickerPanel #picker .pickerItemsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
.mainWrapper #gameMain .pickerPanel #picker .pickerItemsWrapper .imgButton {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 2px solid rgb(51, 51, 51);
  padding: 0px;
  position: relative;
  background: rgb(255, 255, 255);
}
.mainWrapper #gameMain .pickerPanel #picker .pickerItemsWrapper .imgButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mainWrapper #gameMain .pickerPanel #message {
  color: red;
  height: 24px;
  margin: 10px;
}
.mainWrapper #gameMain .pickerPanel .buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
}
.mainWrapper #gameMain .pickerPanel .buttonsContainer #gridSizeSelector {
  width: 80%;
}
.mainWrapper #gameMain .pickerPanel .buttonsContainer .boardGameBtn {
  display: inline-block;
  text-transform: uppercase;
  background: #00a19a;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 28px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 0;
  line-height: 1.6;
  margin: 10px 0px;
  width: 80%;
}
.mainWrapper #gameMain .pickerPanel .buttonsContainer .boardGameBtn:hover {
  background: #f7a000;
  cursor: pointer;
}
.mainWrapper #gameMain #mainBoardContainer {
  display: flex;
  max-width: 80%;
}
.mainWrapper #gameMain #mainBoardContainer #logoWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px;
}
.mainWrapper #gameMain #mainBoardContainer #logoWrapper img {
  height: 80px;
}
.mainWrapper #gameMain #mainBoardContainer #logoWrapper a {
  color: red;
  text-decoration: none;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
  padding: 40px;
  margin: 0 auto;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper.board50x50 {
  padding: 140px 40px 40px 140px;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper #yAxis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 2px;
  position: absolute;
  left: 10px;
  top: 40px;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper #yAxis.board50x50 {
  left: 30px;
  top: 140px;
  width: 100px;
  height: 500px;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper #boardAndXAxisWrapper #xAxis {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  position: absolute;
  top: 10px;
  left: 40px;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper #boardAndXAxisWrapper #xAxis.board50x50 {
  top: 30px;
  left: 40px;
  width: 500px;
  height: 100px;
}
.mainWrapper #gameMain #mainBoardContainer #boardWrapper #boardAndXAxisWrapper #boardOverlay {
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 2;
  pointer-events: none;
}

@media (max-width: 1024px) and (orientation: landscape) {
  #gameMain {
    flex-direction: row !important;
    align-items: flex-start !important;
  }
  #gameMain .pickerPanel {
    width: 30% !important;
  }
  #gameMain .pickerPanel #picker {
    height: 300px !important;
  }
  #gameMain .pickerPanel .buttonsContainer {
    flex-direction: column !important;
    width: 100% !important;
  }
  #gameMain .pickerPanel .buttonsContainer .boardGameBtn {
    width: 90% !important;
  }
  #gameMain #mainBoardContainer {
    max-width: 70% !important;
  }
  #gameMain #mainBoardContainer #boardWrapper {
    max-width: 100%;
    margin: 40px 0;
  }
}
@media (max-width: 1024px) {
  .mainWrapper #gameMain {
    flex-direction: column;
    align-items: center;
  }
  .mainWrapper #gameMain .pickerPanel {
    width: 95%;
    background-color: white;
    height: auto;
    position: static;
  }
  .mainWrapper #gameMain .pickerPanel #picker {
    height: 250px;
  }
  .mainWrapper #gameMain .pickerPanel .buttonsContainer .boardGameBtn {
    width: 30%;
    margin: 5px;
  }
  .mainWrapper #gameMain #mainBoardContainer {
    max-width: 95%;
  }
  .mainWrapper #gameMain #mainBoardContainer #boardWrapper {
    max-width: 100%;
    margin: 40px 0;
  }
}
@media (max-width: 600px) {
  .mainWrapper .banner img {
    height: 50px;
  }
  .mainWrapper .banner h1 {
    font-size: 18px;
    padding: 1rem;
  }
  .mainWrapper .banner .back-link {
    font-size: 10px;
    padding: 8px 10px;
  }
  .mainWrapper #gameMain {
    flex-direction: column;
    margin-top: 10px;
  }
  .mainWrapper #gameMain .pickerPanel {
    width: 90%;
    padding: 5px 0 0 0;
    background-color: white;
    height: auto;
    box-shadow: none;
  }
  .mainWrapper #gameMain .pickerPanel #picker {
    width: 100%;
    min-width: 0;
    padding: 5px;
    height: 180px;
    border-width: 1px;
  }
  .mainWrapper #gameMain .pickerPanel #picker .pickerItemsWrapper {
    height: 60%;
    margin-top: 5px;
  }
  .mainWrapper #gameMain .pickerPanel #picker .pickerItemsWrapper .imgButton {
    width: 40px !important;
    height: 40px !important;
    margin: 3px;
  }
  .mainWrapper #gameMain .pickerPanel .buttonsContainer {
    flex-direction: column;
    width: 100%;
  }
  .mainWrapper #gameMain .pickerPanel .buttonsContainer .boardGameBtn {
    width: 95% !important;
    margin: 5px 0;
    font-size: 18px !important;
  }
  .mainWrapper #gameMain .pickerPanel .buttonsContainer #gridSizeSelector {
    width: 95%;
  }
  .mainWrapper #gameMain #mainBoardContainer #boardWrapper {
    width: 100%;
    margin: 10px 0;
  }
  .imgButton {
    width: 36px;
    height: 36px;
    margin: 3px;
  }
}
#gridSizeSelector,
.sectionSelector {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (max-width: 800px) {
  #boardWrapper.board50x50 {
    padding: 100px 40px 40px 100px !important;
  }
  #boardWrapper.board50x50 #yAxis {
    top: 100px !important;
  }
}
@media (min-width: 801px) and (max-width: 1399px) {
  #boardWrapper.board50x50 {
    padding: 120px 40px 40px 120px !important;
  }
  #boardWrapper.board50x50 #yAxis {
    top: 120px !important;
  }
}

/*# sourceMappingURL=boardStyle.css.map */
